<template>
    <el-scrollbar wrap-class="scrollbar-wrapper">
        <el-menu active-text-color="#ffd04b" background-color="#545c64" class="el-menu-vertical-demo" default-active="2"
            text-color="#fff" mode="vertical">
            <sidebar-item v-for="route in constantRoutes" :key="route.path" :item="route" :base-path="route.path" />
        </el-menu>
    </el-scrollbar>
</template>

<script setup>
import SidebarItem from './SidebarItem.vue';
import { constantRoutes } from '../../../router/index'
</script>

<style lang="scss" scoped>
</style>