<template>
    <div v-if="!props.item.hidden">
        <template
            v-if="hasOneShowingChild() && (!data.onlyOneChild.children || data.onlyOneChild.noShowingChildren) && !item.alwaysShow">
            <app-link v-if="data.onlyOneChild.meta" :to="resolvePath(data.onlyOneChild.path)">
                <el-menu-item :index="resolvePath(data.onlyOneChild.path)"
                    :class="{ 'submenu-title-noDropdown': !props.isNest }">
                    <item :icon="data.onlyOneChild.meta.icon || (props.item.meta && props.item.meta.icon)"
                        :title="data.onlyOneChild.meta.title" />
                </el-menu-item>
            </app-link>
        </template>

        <el-sub-menu v-else ref="subMenu" :index="resolvePath(props.item.path)" popper-append-to-body>
            <template slot="title">
                <item v-if="props.item.meta" :icon="props.item.meta && props.item.meta.icon"
                    :title="props.item.meta.title" />
            </template>
            <sidebar-item v-for="child in props.item.children" :key="child.path" :is-nest="true" :item="child"
                :base-path="resolvePath(child.path)" class="nest-menu" />
        </el-sub-menu>
    </div>
</template>

<script setup>
import path from 'path-browserify'
import { isExternal } from '../../../utils/validate'
import AppLink from './Link.vue'
import Item from './Item.vue'
import { reactive } from 'vue'
const props = defineProps({
    // route object
    item: {
        type: Object,
        required: true
    },
    isNest: {
        type: Boolean,
        default: false
    },
    basePath: {
        type: String,
        default: ''
    }
})

const data = reactive({
    onlyOneChild: null,
})

/**
 * @method hasOneShowingChild 是否只有一个子路由
 */
const hasOneShowingChild = () => {
    const { children = [] } = props.item
    const showingChildren = children.filter(item => {
        if (item.hidden) {
            return false

        } else {
            // Temp set(will be used if only has one showing child)
            data.onlyOneChild = item
            return true
        }
    })

    // When there is only one child router, the child router is displayed by default
    if (showingChildren.length === 1) return true

    // Show parent if there are no child router to display
    if (showingChildren.length === 0) {
        data.onlyOneChild = { ...props.item, path: '', noShowingChildren: true }
        return true
    }

    return false
}

/**
 * @method resolvePath 处理路径
 * @param {*} routePath 
 */
const resolvePath = (routePath) => {
    if (isExternal(routePath)) {
        return routePath
    }
    if (isExternal(props.basePath)) {
        return props.basePath
    }
    return path.resolve(props.basePath, routePath)
}

</script>

<style lang="scss" scoped>
</style>