<template>
    <div>
        a页面
        <hr>
        <div>名字：{{route.query.name}}</div>
        <div>年龄：{{route.query.age}}</div>
    </div>
</template>

<script setup>
import { useRoute } from 'vue-router'

const route = useRoute()
</script>

<style lang="scss" scoped>
div {
    background-color: green;
}
</style>