<template>
    <div>
        <sidebar class="sidebar-container" />
        <router-view />
    </div>
</template>

<script setup>
import Sidebar from './components/sidebar/index.vue'
</script>

<style lang="scss" scoped>
</style>